
<body>
<input type="checkbox" id="icon" />
<label for="icon" class="iconbtn">
  
  <i class="bi bi-menu-button" id="openbtn">menu</i>
</label>

    

    

    <div class="sidenav">
      <div class="logo">
        <img src="https://i.postimg.cc/y6pKKqcf/avatar.png" alt="">
      </div>
      <ul class="mainNav">
        <li class="single-nav">
          <a [routerLink]="['/addflight']">
            <i class="fa fa-chevron-right "></i>
            <span>Add flight</span>
          </a>
        </li>
        <li class="single-nav">
          <a [routerLink]="['/remove-flight']">
            <i class="fa fa-chevron-right "></i>
            <span>Remove Flight</span>
          </a>
        </li>
        <li class="single-nav">
          <a [routerLink]="['/view-booking']">
            <i class="fa fa-chevron-right "></i>
            <span>View Booking </span>
          </a>
        </li>
        <li class="single-nav">
          <a [routerLink]="['/update']">
            <i class="fa fa-chevron-right "></i>
            <span>Update Flight</span>
          </a>
        </li>
        <li class="single-nav">
          <a href="#">
            <i class="fa fa-chevron-right "></i>
            <span>Blog</span>
          </a>
        </li>
        <li class="single-nav">
          <a href="#">
            <i class="fa fa-chevron-right "></i>
            <span>Contact</span>
          </a>
        </li>
        <li class="single-nav">
          <a href="#">
            <i class="fa fa-chevron-right "></i>
            <span>Terms</span>
          </a>
        </li>
        <li class="single-nav">
          <a href="#">
            <i class="fa fa-chevron-right "></i>
            <span>Privacy Policy</span>
          </a>
        </li>
        <li class="single-nav">
          <a href="#">
            <i class="fa fa-chevron-right "></i>
            <span>Socials</span>
          </a>
        </li>

      </ul>

    </div>

    <div class="content">
      <h2>Admin panel <br> Welcome</h2>
    </div>   
</body>

